<div class="container">
    <h1 class="text-center mt-3">TODO APP</h1>
    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>

    <h4 class="mt-5">Your TODO'S</h4>

    <div *ngIf="this.todos.length===0; else elseBlock">
        <div class="alert alert-danger mt-3" role="alert">
            <b>No TODO's to display</b>
        </div>
    </div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i">
            <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoCheckBox)="toggleTodo($event)">
            </app-todo-item>
        </div>
    </ng-template>
</div>