  <div class="container">
    <header>
      <h1>{{title}}</h1>
    </header>

    <main>
      <h2>Current Counter is : <span style="color:yellow;">{{count}}</span></h2>
    </main>

    
    <button (click)="increaseHandler()">Increase Count</button>
    <button (click)="decreaseHandler()">Decrease Count</button>
    <button (click)="resetHandler()">Reset Count</button>

    <footer style="margin-top: 20vh;">
      <h2>{{footer}}</h2>
      <h2 style="color:yellow"><i>{{footername}}</i></h2>
    </footer>
  </div>